/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // Colour overrides for the blue colour scheme
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * Template for all colour overrides.
 */
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
.badge-primary,
.label-primary {
  background-color: #377ca8;
}
.badge-primary[href],
.label-primary[href] {
  background-color: #2a6082;
}
/*
 * --------------------------------------------------
 * 2. Colour overrides
 *-------------------------------------------------- 
 */
body {
  /* Desktop menu */
}
body a {
  color: #377ca8;
  text-decoration: none;
}
body a:hover img {
  border-color: #3d8abb;
}
body a:hover {
  color: #2a6082;
  text-decoration: underline;
}
body .primary-colour {
  color: #377ca8;
}
body .primary-colour-bg {
  background: #377ca8;
}
body .primary-colour-bg-50 {
  background: #377ca8;
  background: rgba(55, 124, 168, 0.5);
}
body .primary-colour-bg-80 {
  background: #377ca8;
  background: rgba(55, 124, 168, 0.8);
}
body .block .title {
  color: #377ca8;
}
body .mission h3 {
  color: #2a6082;
}
body .btn-primary {
  background-color: #377ca8;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #377ca8 0%, #2a6082 100%);
  background-image: -o-linear-gradient(top, #377ca8 0%, #2a6082 100%);
  background-image: linear-gradient(to bottom, #377ca8 0%, #2a6082 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff377ca8', endColorstr='#ff2a6082', GradientType=0);
  border-color: #2a6082 #2a6082 #183548;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2a6082;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  /* @see: Button maker: http://charliepark.org/bootstrap_buttons/ */
}
body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active,
body .btn-primary.active,
body .btn-primary.disabled,
body .btn-primary[disabled] {
  color: #ffffff;
  background-color: #2a6082;
  *background-color: #24516e;
  background-image: none;
}
body .btn-primary:active,
body .btn-primary.active {
  background-color: #1e435b \9;
}
body .navbar-inner {
  background-image: -webkit-linear-gradient(top, #377ca8 0%, #2a6082 100%);
  background-image: -o-linear-gradient(top, #377ca8 0%, #2a6082 100%);
  background-image: linear-gradient(to bottom, #377ca8 0%, #2a6082 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff377ca8', endColorstr='#ff2a6082', GradientType=0);
  /* @see: Gradient maker: http://www.colorzilla.com/gradient-editor/ */
  border-top-color: #377ca8;
  border-bottom-color: #377ca8;
}
body .navbar .divider-vertical {
  border-left: 1px solid #2a6082;
  border-right: 1px solid #377ca8;
}
body .navbar .nav > li > a:focus,
body .navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
}
body .navbar .nav > .active > a,
body .navbar .nav > .active > a:hover,
body .navbar .nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
body .navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #316e95 0%, #24516e 100%);
  background-image: -o-linear-gradient(top, #316e95 0%, #24516e 100%);
  background-image: linear-gradient(to bottom, #316e95 0%, #24516e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff316e95', endColorstr='#ff24516e', GradientType=0);
  border-color: #24516e #24516e #112735;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #24516e;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  /* @see: Button maker: http://charliepark.org/bootstrap_buttons/ */
}
body .navbar .btn-navbar:hover,
body .navbar .btn-navbar:focus,
body .navbar .btn-navbar:active,
body .navbar .btn-navbar.active,
body .navbar .btn-navbar.disabled,
body .navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #24516e;
  *background-color: #1e435b;
  background-image: none;
}
body .navbar .btn-navbar:active,
body .navbar .btn-navbar.active {
  background-color: #183548 \9;
}
body .navbar .nav > li > .dropdown-menu:before {
  border-bottom-color: #2a6082;
}
body .navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid #2d6589;
}
body .navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  border-top-color: #2a6082;
}
body .navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  border-top: 6px solid #2d6589;
}
body .navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body .navbar .nav li.dropdown.open > .dropdown-toggle,
body .navbar .nav li.dropdown.active > .dropdown-toggle,
body .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #ffffff;
}
body .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #d5e2ea;
  border-bottom-color: #d5e2ea;
}
body .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
body .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
body .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
body .dropdown-menu {
  background-color: #2d6589 !important;
  border: 1px solid #ccc;
  border: 1px solid #2a6082;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
body .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: -0.2857142855 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #2a6082;
  border-bottom: 1px solid #377ca8;
}
body .dropdown-menu li > a {
  color: #ffffff;
}
body .dropdown-menu li > a:hover,
body .dropdown-menu li > a:focus,
body .dropdown-submenu:hover > a {
  color: rgba(255, 255, 255, 0.9);
  background-image: -webkit-linear-gradient(top, #2a6082 0%, #24516e 100%);
  background-image: -o-linear-gradient(top, #2a6082 0%, #24516e 100%);
  background-image: linear-gradient(to bottom, #2a6082 0%, #24516e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2a6082', endColorstr='#ff24516e', GradientType=0);
  /* @see: Gradient maker: http://www.colorzilla.com/gradient-editor/ */
}
body .dropdown-menu .active > a,
body .dropdown-menu .active > a:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #377ca8 0%, #316e95 100%);
  background-image: -o-linear-gradient(top, #377ca8 0%, #316e95 100%);
  background-image: linear-gradient(to bottom, #377ca8 0%, #316e95 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff377ca8', endColorstr='#ff316e95', GradientType=0);
  /* @see: Gradient maker: http://www.colorzilla.com/gradient-editor/ */
}
@media (min-width: 1000px) {
  body .dropdown-menu {
    background-color: #2a6082 !important;
  }
  body ul#main-menu .dropdown-menu li a:hover,
  body ul#main-menu .dropdown-menu li a.active,
  body ul#main-menu .dropdown-menu li.active > a,
  body ul#main-menu .dropdown-menu li.active > a:hover,
  body ul#main-menu .dropdown-menu li.active > a:focus {
    background-color: #2f6b91 !important;
  }
}
body .pagination {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
body .pagination li a,
body .pagination li span {
  color: #377ca8;
}
body .pagination li a:hover,
body .pagination li span:hover,
body .pagination li a:focus,
body .pagination li span:focus,
body .pagination li a:active,
body .pagination li span:active {
  color: #377ca8;
  text-decoration: none;
  background: #F5F5F5;
}
body #navigation .navbar {
  color: #ffffff;
}
body #navigation .navbar-inner {
  border-top-color: #377ca8;
  border-bottom-color: #377ca8;
}
body #navigation .btn-navbar {
  background: #377ca8;
}
body #navigation .btn-navbar .icon-bar {
  background: #ffffff;
  height: 3px;
  margin: 3px 0;
}
body #navigation .brand h1 {
  color: #ffffff;
}
body #navigation ul#main-menu li {
  border-left-color: rgba(255, 255, 255, 0.1);
  border-right-color: #2a6082;
}
body #navigation ul#main-menu li a:hover,
body #navigation ul#main-menu li a.active,
body #navigation ul#main-menu li.over > a,
body #navigation ul#main-menu li.active > a,
body #navigation ul#main-menu li.active > a:hover,
body #navigation ul#main-menu li.active > a:focus {
  background: #2a6082;
}
body #navigation ul#main-menu li.dropdown.open a.dropdown-toggle {
  background: #2a6082;
}
body #navigation ul#main-menu li.dropdown.open ul.dropdown-menu a {
  border-bottom-color: #3a82b0;
}
body #highlighted {
  border-bottom-color: #e1e1e1;
  background-color: #f2f2f2;
  color: #377ca8;
  text-shadow: 1px 1px 1px #ffffff;
}
body .page-index #highlighted {
  background-image: -webkit-radial-gradient(circle, #ffffff, #e6e6e6);
  background-image: radial-gradient(circle, #ffffff, #e6e6e6);
  background-repeat: no-repeat;
}
body #footer {
  border-top-color: #377ca8;
}
body .nav-list li.active > a,
body .nav-list li.active > a:hover,
body .nav-list li.active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #377ca8;
}
body .header .page-title {
  color: rgba(55, 124, 168, 0.9);
}
body .header .page-title small {
  color: rgba(55, 124, 168, 0.6);
}
body .header .nav-pills li a {
  background: rgba(255, 255, 255, 0.5);
}
body .header .nav-pills li a:hover {
  background: rgba(255, 255, 255, 0.7);
}
body .header .nav-pills li.active > a {
  background: rgba(255, 255, 255, 0.7);
}
body .block .block-title {
  border-bottom-color: rgba(55, 124, 168, 0.3);
}
body .block .block-title span {
  border-bottom-color: #3d8abb;
}
body .block .block-title small {
  border-left-color: rgba(55, 124, 168, 0.3);
}
body .block .title {
  color: #377ca8;
}
body .sidebar {
  /* @media-query */
}
body .sidebar .well {
  background: rgba(55, 124, 168, 0.1);
}
@media (min-width: 992px) {
  body .sidebar.sidebar-right .inner {
    border-left-color: rgba(55, 124, 168, 0.2);
  }
  body .sidebar.sidebar-left .block {
    border-right-color: rgba(55, 124, 168, 0.2);
  }
}
body .carousel#carousel-front .item h1,
body .carousel#carousel-front .item h2,
body .carousel#carousel-front .item h3,
body .carousel#carousel-front .item h4,
body .carousel#carousel-front .item h5 {
  color: #377ca8;
}
body .mission .inner {
  border-bottom: 1px solid rgba(55, 124, 168, 0.3);
}
body .mission .inner span {
  color: #3a82b0;
}
body .projects li .project {
  border-bottom-color: #3d8abb;
}
body .projects li .project:hover {
  border-bottom-color: #2a6082;
}
body .projects li .project a.lnk-polaroid {
  display: block;
}
body .projects li .project a:hover img {
  border-color: #3d8abb;
}
body .team-member .social-media a i {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
}
body .team-member .social-media a:hover i {
  background-color: #377ca8;
}
body .colour-switcher.tool {
  background: #2a6082;
}
/*
 * --------------------------------------------------
 * 3. Misc
 * Other stuff
 *--------------------------------------------------
 */
/* Utilities */
.primary-colour {
  color: #377ca8;
}
.primary-colour-bg {
  background-color: #377ca8;
}
.primary-colour-bg-50 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
}
.primary-colour-bg-80 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.8);
}
.more-link:hover {
  border-bottom: 3px solid #377ca8;
  text-decoration: none;
}
.pull-center {
  text-align: center;
}
.space-reset {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.margin-top-small {
  margin-top: 0.5em;
}
.margin-top-medium {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 2em;
}
.bordered-top-small {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-top-medium {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-top-large {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.margin-bottom-small {
  margin-bottom: 0.5em;
}
.margin-bottom-medium {
  margin-bottom: 1em;
}
.margin-bottom-large {
  margin-bottom: 2em;
}
.bordered-bottom-small {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-bottom-medium {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-bottom-large {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
ul.big-list {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
ul.big-list li {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  border-color: rgba(204, 204, 204, 0.6);
}
ul.big-list li:hover {
  background: #ededed;
}
.sidebar ul.big-list {
  font-size: 1em;
}
._icon-mini {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
._icon-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
._icon-medium {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}
._icon-large {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
}
._icon-xlarge {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 80px;
}
._icon-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  padding-right: 0;
  margin-right: 0.2em;
}
._icon-circle-double {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  border: 3px solid #e7f1f7;
  box-shadow: 0 0 0 2px #377ca8;
  padding-right: 0;
  margin-right: 0.2em;
}
._icon-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
._icon-inverse {
  background-color: #377ca8;
  color: #ffffff;
  text-align: center;
}
._icon-inverse-50 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
  color: #ffffff;
  text-align: center;
}
._icon-inverse-80 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.8);
  color: #ffffff;
  text-align: center;
}
._icon-success {
  background: #7fbf4d;
}
body .icon-mini,
li .icon-mini {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
body .icon-small,
li .icon-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
body .icon-medium,
li .icon-medium {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}
body .icon-large,
li .icon-large {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
}
body .icon-xlarge,
li .icon-xlarge {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 80px;
}
body .icon-rounded,
li .icon-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body .icon-inverse,
li .icon-inverse {
  background-color: #377ca8;
  color: #ffffff;
  text-align: center;
}
body .icon-inverse-50,
li .icon-inverse-50 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.5);
  color: #ffffff;
  text-align: center;
}
body .icon-inverse-80,
li .icon-inverse-80 {
  background-color: #377ca8;
  background: rgba(55, 124, 168, 0.8);
  color: #ffffff;
  text-align: center;
}
body .icon-success,
li .icon-success {
  background: #7fbf4d;
}
body .icon-mini,
li .icon-mini,
body .icon-small,
li .icon-small,
body .icon-medium,
li .icon-medium,
body .icon-large,
li .icon-large,
body .icon-xlarge,
li .icon-xlarge,
body ._icon-circle,
li ._icon-circle,
body ._icon-circle-double,
li ._icon-circle-double,
body .icon-rounded,
li .icon-rounded {
  display: inline-block;
}
body .icon-mini:before,
li .icon-mini:before,
body .icon-small:before,
li .icon-small:before,
body .icon-medium:before,
li .icon-medium:before,
body .icon-large:before,
li .icon-large:before,
body .icon-xlarge:before,
li .icon-xlarge:before,
body ._icon-circle:before,
li ._icon-circle:before,
body ._icon-circle-double:before,
li ._icon-circle-double:before,
body .icon-rounded:before,
li .icon-rounded:before,
body .icon-inverse:before,
li .icon-inverse:before,
body .icon-inverse-50:before,
li .icon-inverse-50:before,
body .icon-inverse-80:before,
li .icon-inverse-80:before,
body .icon-success:before,
li .icon-success:before {
  width: auto;
  font-size: inherit;
}
a:hover .icon-inverse,
a:hover .icon-inverse-50,
a:hover .icon-inverse-80 {
  text-decoration: none;
}
a:hover .icon-inverse {
  background: #74add1;
}
a:hover .icon-inverse-50,
a:hover .icon-inverse-80 {
  background: #377ca8;
}
.secondary-nav {
  margin: 0;
  padding: 0;
}
.secondary-nav li a {
  margin: 0 0 1px 0;
  padding: 8px 0.5em;
  background: rgba(55, 124, 168, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(55, 124, 168, 0.1);
}
.secondary-nav li a i {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.secondary-nav li a:hover {
  background: rgba(55, 124, 168, 0.1);
}
.secondary-nav li a:hover i {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.secondary-nav li.active a {
  background: #377ca8;
}
.secondary-nav li ul {
  margin: 0 0 1px 0;
  padding: 8px 1em;
  border: 1px solid rgba(55, 124, 168, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(55, 124, 168, 0.1);
}
.popover-title {
  font-size: 16px;
  font-weight: bold;
}
.popover-content {
  font-size: 12px;
  font-weight: normal;
}
.panel-primary .panel {
  margin-bottom: 1px;
  border: 1px solid rgba(55, 124, 168, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(55, 124, 168, 0.05);
}
.panel-primary .panel .panel-heading {
  background: none;
}
.panel-primary .panel .panel-heading a {
  display: block;
}
.panel-primary .panel:hover {
  background: rgba(55, 124, 168, 0.1);
}
.panel-primary .panel-inner {
  border-top: 1px solid rgba(55, 124, 168, 0.2);
}
.panel-group .panel + .panel {
  margin-top: 1px;
}
.background-clip-fix {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.carousel {
  margin: 0;
}
.carousel .item .carousel-caption {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background: #242424;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.carousel .item .carousel-caption h4,
.carousel .item .carousel-caption p {
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 0;
  text-align: left;
}
.carousel .item .carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel .item .carousel-caption.top-right {
  top: 5%;
  right: 5%;
  left: auto;
  bottom: auto;
}
.carousel .item img {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.carousel .carousel-control {
  height: 40px;
  width: 40px;
  line-height: 30px;
  font-size: 25px;
  left: 30px;
  top: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: #242424;
}
.carousel .carousel-control.right {
  left: auto;
  right: 30px;
}
.carousel .carousel-control.carousel-control-mini {
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 15px;
}
.carousel .carousel-control.carousel-control-large {
  height: 60px;
  width: 60px;
  line-height: 50px;
  font-size: 35px;
}
.carousel .carousel-control.carousel-control-large {
  height: 80px;
  width: 80px;
  line-height: 70px;
  font-size: 45px;
}
.carousel .carousel-control.carousel-control-xlarge {
  height: 100px;
  width: 100px;
  line-height: 80px;
  font-size: 55px;
}
.carousel .carousel-control.carousel-control-rounded {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.carousel .carousel-control.carousel-control-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.carousel:hover .carousel-caption {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel:hover .carousel-control {
  opacity: 0.6;
  filter: alpha(opacity=60);
  left: 5px;
}
.carousel:hover .carousel-control.right {
  right: 5px;
  left: auto;
}
.carousel.carousel-slideshow {
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 5px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.carousel.carousel-slideshow .carousel-control {
  left: 10px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel.carousel-slideshow .carousel-control.right {
  right: 10px;
  left: auto;
}
.carousel.carousel-slideshow:hover .carousel-control {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.fa fa-user {

}
